In [18]:
import numpy as np
import pandas as pd
a = np.array([[1,2],[3,4],[5,6]])
x=pd.DataFrame(a)
l = x[0].count()
print(l,"\n*******************")
print(pd.DataFrame(a),"\n*******************")
dict = {"Cat":["Rude",1],"Dog":["Nice",2],"Rat":["Annoying",3]}
print(pd.DataFrame(dict),"\n*******************")
df = pd.DataFrame(data=[1,2,3,4],index=range(0,4),columns=["A"])
print(pd.DataFrame(df),"\n*******************")
S = pd.Series({"India":"New Delhi","Argentina":"Buenos Aires","Peru":"Lima"})
print(pd.DataFrame(S),"\n*******************")
print(pd.DataFrame(S).shape,"\n*******************")
print(len(pd.DataFrame(S)),"\n*******************")
list(x.columns.values)

3
*******************
   0  1
0  1  2
1  3  4
2  5  6
*******************
    Cat   Dog       Rat
0  Rude  Nice  Annoying
1     1     2         3
*******************
   A
0  1
1  2
2  3
3  4
*******************
                      0
India         New Delhi
Argentina  Buenos Aires
Peru               Lima
*******************
(3, 1)
*******************
3
*******************

[0, 1]

In [20]:
## Extracting values from DataFrames
print(dict)
print(x.iloc[0][0],"\n*******************\n",pd.DataFrame(dict).iloc[0][0])
print(pd.DataFrame(dict).loc[0,"Cat"],"\n*******************\n",pd.DataFrame(dict).iloc[0][0],"\n*******************")
print(pd.DataFrame(dict).at[0,"Dog"],"\n*******************\n",pd.DataFrame(dict).iat[0,1],"\n*******************")
print(pd.DataFrame(dict).loc[0,:],"\n*******************")
print(pd.DataFrame(dict).iloc[:,1])
print(pd.DataFrame(dict).iloc[0])

{'Cat': ['Rude', 1], 'Dog': ['Nice', 2], 'Rat': ['Annoying', 3]}
1
*******************
 Rude
Rude
*******************
 Rude
*******************
Nice
*******************
 Nice
*******************
Cat        Rude
Dog        Nice
Rat    Annoying
Name: 0, dtype: object
*******************
0    Nice
1       2
Name: Dog, dtype: object
Cat        Rude
Dog        Nice
Rat    Annoying
Name: 0, dtype: object

In [12]:
####### Set Index
df = pd.DataFrame(dict)
print(df)
df1 = df.set_index("Rat")
print(df1)
df1.iloc[0]
df1.loc["Annoying"]
df1.loc["Rat"] = ["Eww",4]
print(df1)
df1["Rat"] = df1.index
print("****************\n",df1)
df1["Rabbit"]=["White",4,5]
print("****************\n",df1)
df1 = df1.drop("Rat")
df1 = df1.drop(columns = "Rat")
print("****** Delete Index********\n", df1)
df1 = df1.reset_index()
print("*******Reset Index***********\n",df1)
df2 = df1.reset_index()
print("*******Reset Index***********\n",df2)
df3 = df1.reset_index(drop = True)
print("*******Reset Index***********\n",df3)
df3.drop("Rat",axis=1,inplace = True)
print("*********Drop Column*********\n",df3)
df3.rename(index={0:"Character",1:"Number"},inplace=True)
print("*********Rename Index*****************\n",df3)
df3.rename(columns={"Rabbit":"Mouse"},inplace=True)
print("*********Rename Column*****************\n",df3)
df3.replace(["White"],["Blanco"],inplace=True)
print("*********Rename Column*****************\n",df3)
df3.replace({"\n":"<br>"},regex=True,inplace=True)
print("*********Rename Regular Expression*****************\n",df3)
df3["Snake"]=["+Danger","3-"]
print("*********Insert New Column*****************\n",df3)
df3["Snake"] = df3["Snake"].map(lambda x: x.strip("+-"))
print("*********Modify Cells in DataFrame*****************\n",df3)

df3["Tiger"]=["Sher Khan",8]
print("*********Insert New Column*****************\n",df3)
df3_series = df3["Tiger"].str.split(" ").apply(pd.Series,1).stack()
print(df3_series)

df = pd.DataFrame(np.nan, index=[0,1,2,3], columns=['A'])
print("*********Create Empty DataFrame*****************\n",df)
print(df.values.dtype)

    Cat   Dog       Rat
0  Rude  Nice  Annoying
1     1     2         3
           Cat   Dog
Rat
Annoying  Rude  Nice
3            1     2
           Cat   Dog
Rat
Annoying  Rude  Nice
3            1     2
Rat        Eww     4
****************
            Cat   Dog       Rat
Rat
Annoying  Rude  Nice  Annoying
3            1     2         3
Rat        Eww     4       Rat
****************
            Cat   Dog       Rat Rabbit
Rat
Annoying  Rude  Nice  Annoying  White
3            1     2         3      4
Rat        Eww     4       Rat      5
****** Delete Index********
            Cat   Dog Rabbit
Rat
Annoying  Rude  Nice  White
3            1     2      4
*******Reset Index***********
         Rat   Cat   Dog Rabbit
0  Annoying  Rude  Nice  White
1         3     1     2      4
*******Reset Index***********
    index       Rat   Cat   Dog Rabbit
0      0  Annoying  Rude  Nice  White
1      1         3     1     2      4
*******Reset Index***********
         Rat   Cat   Dog Rabbit
0  Annoying  Rude  Nice  White
1         3     1     2      4
*********Drop Column*********
     Cat   Dog Rabbit
0  Rude  Nice  White
1     1     2      4
*********Rename Index*****************
             Cat   Dog Rabbit
Character  Rude  Nice  White
Number        1     2      4
*********Rename Column*****************
             Cat   Dog  Mouse
Character  Rude  Nice  White
Number        1     2      4
*********Rename Column*****************
             Cat   Dog   Mouse
Character  Rude  Nice  Blanco
Number        1     2       4
*********Rename Regular Expression*****************
             Cat   Dog   Mouse
Character  Rude  Nice  Blanco
Number        1     2       4
*********Insert New Column*****************
             Cat   Dog   Mouse    Snake
Character  Rude  Nice  Blanco  +Danger
Number        1     2       4       3-
*********Modify Cells in DataFrame*****************
             Cat   Dog   Mouse   Snake
Character  Rude  Nice  Blanco  Danger
Number        1     2       4       3
*********Insert New Column*****************
             Cat   Dog   Mouse   Snake      Tiger
Character  Rude  Nice  Blanco  Danger  Sher Khan
Number        1     2       4       3          8
Character  0    Sher
           1    Khan
dtype: object
*********Create Empty DataFrame*****************
     A
0 NaN
1 NaN
2 NaN
3 NaN
float64

In [ ]:
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech','Tech'],
        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart','Walmart1'],
        'price':[11.42, 23.50, 19.99, 15.95, 19.99, 111.55,1115],
        'testscore': [4, 3, 5, 7, 5, 8,9]})
print(products)
pivot_products = products.pivot(index = "category",columns = "store", values = "price")
print("**************Pivot DataFrame***************\n",pivot_products)
pivot_p1 = products.pivot(index = "category",columns = 'store')
print("************Pivot DataFrame w/o values*********************\n",pivot_p1)
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech','Tech'],
        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart','Walmart'],
        'price':[11.42, 23.50, 19.99, 15.95, 19.99, 111.55,111.5],
        'testscore': [4, 3, 5, 7, 5, 8,9]})
print("**************Product2***************\n",products)
pivot_products = products.pivot_table(index = "category",columns = "store", values = "price",aggfunc='mean')
print("**************Pivot DataFrame***************\n",pivot_products)

In [ ]:
from collections import OrderedDict
table = OrderedDict(( ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])))
df = pd.DataFrame(table)
print(df)
pivot = df.pivot(index = "Item", columns = "CType",values = "USD")
print(pivot)
#########  Access the USD cost of Item 0 for gold customers
print(df[(df.Item=="Item0")&(df.CType=="Gold")].USD.values)
print(pivot[pivot.index=="Item0"].Gold.values)

#########  Row Mutli-Index
row_idx_arr = list(zip(["r-0","r-0"],["r-00",'r-01']))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)
print(row_idx)

#########  Column Multi-Index
col_idx_arr = list(zip(["c-0","c-0","c-1"],["c-00","c-01","c-10"]))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)
print(col_idx)

df = pd.DataFrame(np.arange(0,6).reshape(2,3),index=row_idx, columns=col_idx)
df = df.applymap(lambda x: (x // 3, x%3))
print(df)

s=df.stack()
print(s)
us=s.unstack()
print(us)
us.to_csv("Test2.csv", sep="\t", encoding="utf-8",na_rep="NA")

In [ ]:
# Reshaping the DataFrame with melt()
people = pd.DataFrame({"FirstName":["Ram","John"],
                      "LastName":["Bam","Fu"],
                      "BloodType":["A+","B-"],
                      "Weight":[66,100],
                      "Height":[169,185]})
print(people)
print(pd.melt(people,id_vars=["FirstName","LastName"],var_name="Measurements"))

In [ ]:
## Iterate over Python DataFrame
df = pd.DataFrame(data=np.array([[1,2,3],[4,5,6],[7,8,9]]), columns=["A",'B','C'])
print(df)
for index,row in df.iterrows():
    print("*****************\n",row["A"],row["B"])

In [ ]:
## Output a DataFrame to csv file
print(df)
df.to_csv("test_csv.csv", sep="\t", encoding="utf-8")

In [ ]:
##Output a DataFrame to Excel file
writer = pd.ExcelWriter("myDataFrame.xlsx")
df.to_excel(writer,"DataFrame")
writer.save()

In [ ]:
print(df)

In [ ]:
ttttttttttttttttttttttttt

In [17]:
## Series
import pandas as pd
se = pd.Series((1,2,3,4))
print(se[1:3])
se = pd.Series((1,2,3,4),index=(0,1,2,3))
print(se[1:3])
se = pd.Series((1,2,3,4),index=(5,6,7,8))
print(se[5:8])
se = pd.Series((1,2,3,4),index=('A','B','C','D'))
print(se['A':'C'])
print(se[0:2])

1    2
2    3
dtype: int64
1    2
2    3
dtype: int64
Series([], dtype: int64)
A    1
B    2
C    3
dtype: int64
A    1
B    2
dtype: int64

In [8]:
# Convert Series into DataFrame column
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
#mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser.head())
df = ser.to_frame().reset_index()
print(df.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64
  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [1]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(5)
mydict = dict(zip(mylist, myarr))
s1=pd.Series(mylist)
print(s1)
s2 = pd.Series(myarr)
print(s2)
print(mydict)
s3 = pd.Series(mydict)
print(s3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0    0
1    1
2    2
3    3
4    4
dtype: int32
{'a': 0, 'b': 1, 'c': 2, 'e': 3, 'd': 4}
a    0
b    1
c    2
e    3
d    4
dtype: int64

In [2]:
import numpy as np
eye = np.eye
print("Eye Numpy Array:\n{}".format(eye))

Eye Numpy Array:
<function eye at 0x00000270B9D32EA0>